.about-container89 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Set height to full viewport height for centering */
  
}

.about-container89 h1 {
  font-size: 4rem; 
  color: #171716;
  text-decoration: underline;
  margin-top: 200px; /* Add space above the h1 */
  text-shadow: 0 0 1000px #000000, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #191918, 0 0 70px #1c1c1b, 0 0 80px #000000, 0 0 100px #080707, 0 0 150px #0e0e0d;
  animation: glowText 0s linear infinite alternate;
  
}
/* 
@keyframes glowText {
  0% {
      text-shadow: 0 0 10px #000000, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff8c00, 0 0 70px #ff8c00, 0 0 80px #ff8c00, 0 0 100px #ff8c00, 0 0 150px #ff8c00;
  }
  100% {
      text-shadow: 0 0 20px #000000, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #ff8c00, 0 0 100px #ff8c00, 0 0 120px #ff8c00, 0 0 140px #ff8c00, 0 0 160px #ff8c00;
  }
} */

.about-container89 h3 {
  font-size: 4rem; 
  color: #222120;
  margin-top: -50px;
  background-color: #53535586;
  border-radius: 50px;
}

.about-container89 p {
  font-size: 5rem; 
  color: #b0b8b7;
  margin-top: 50px;
  
  border-radius: 50px;
}


  

  