.home-container90 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Set height to full viewport height for centering */
}

.home-container90 h2 {
  font-size: 4rem;
  color: #2b2926;
  text-decoration: underline;
  text-shadow: 0 0 1000px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #3b3835, 0 0 70px #514e4a, 0 0 80px #555351, 0 0 100px #555351, 0 0 150px #3c3939;
  animation: glowText 0s linear infinite alternate;
}

@keyframes glowText {
  0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #494643, 0 0 70px #312f2c, 0 0 80px #6f6d6a, 0 0 100px #3d3c3b, 0 0 150px #ff8c00;
  }
  100% {
      text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #75716c, 0 0 100px #797673, 0 0 120px #1c1b1b, 0 0 140px #989795, 0 0 160px #646462;
  }
}

.home-container90 p {
  font-size: 4rem;
  color: #1f1d18;
  text-align: center;
  text-shadow: 0 0 1000px rgb(240, 234, 234); /* Light glow effect */
}
